.nav-link {
    background-color: rgb(247, 214, 213);
    border-radius: 10px;
    padding: 0.5%;
}
.infs{
    margin: 5%;
    width: 80%;
    background-color: aliceblue;
    margin-left: 10%;
    padding: 5%;
    border-radius: 50px;
}
.form{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
.tit{
    text-decoration: underline;
    padding-bottom: 2%;
}
.foto{
    width: 100%;
    padding-bottom: 2%;
    border-radius: 30px;
}
.text{
    font-size: large;
}